@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        text-align: center;
        align-items: center;
    }

    #page-home header a {
        width: 80%;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #page-home main {
        align-items: center;
    }

    #page-home main h1 {
        font-size: 32px;
    }

    #page-home main p {
        line-height: 25px;
        font-size: 18px;
    }

    #page-home main a {
       width: 80%;
       font-size: 13px;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    img {
        align-items: center;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}


    @media (max-height: 760px) {
        #page-home {
            background-position-y: 200px;
        }
    }